In [32]:
%matplotlib inline

import matplotlib.pyplot as plt

In [33]:
from sklearn.datasets import load_iris

In [34]:
import numpy as np 
iris = load_iris()
iris.data.shape, iris.target_names, iris.feature_names, iris.target.shape

((150, 4),
 array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 (150,))

In [35]:
import pandas as pd

In [36]:
iris_df = pd.DataFrame({
    iris.feature_names[0]: iris.data[:, 0],
    iris.feature_names[1]: iris.data[:, 1],
    iris.feature_names[2]: iris.data[:, 2],
    iris.feature_names[3]: iris.data[:, 3],
    'target name':iris.target_names[iris.target] 
    # all target dataset present here
})
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target name
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [37]:
iris_df[: 3]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target name
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa

In [38]:
iris_df.to_csv('iris.csv')

In [39]:
from sklearn.neighbors import KNeighborsClassifier

In [40]:
knn_clf = KNeighborsClassifier()
knn_clf.fit(iris.data, iris.target)

KNeighborsClassifier()

In [46]:
predict = knn_clf.predict(iris.data)

In [47]:
knn_clf.score(iris.data, iris.target)

0.9666666666666667

In [50]:
np.sum(predict == iris.target) / predict.shape[0]

0.9666666666666667