In [95]:
%matplotlib inline

import matplotlib.pyplot as plt

In [96]:
from sklearn.datasets import load_iris

In [97]:
import numpy as np 
iris = load_iris()
iris.data.shape, iris.target_names, iris.feature_names, iris.target.shape

((150, 4),
 array(['setosa', 'versicolor', 'virginica'], dtype='<U10'),
 ['sepal length (cm)',
  'sepal width (cm)',
  'petal length (cm)',
  'petal width (cm)'],
 (150,))

In [98]:
import pandas as pd

In [99]:
iris_df = pd.DataFrame({
    iris.feature_names[0]: iris.data[:, 0],
    iris.feature_names[1]: iris.data[:, 1],
    iris.feature_names[2]: iris.data[:, 2],
    iris.feature_names[3]: iris.data[:, 3],
    'target name':iris.target_names[iris.target] 
    # all target dataset present here
})
iris_df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target name
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [100]:
iris_df[: 3]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target name
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa

In [101]:
iris_df.to_csv('iris.csv')

In [102]:
from sklearn.neighbors import KNeighborsClassifier

In [103]:
knn_clf = KNeighborsClassifier()
knn_clf.fit(iris.data, iris.target)

KNeighborsClassifier()

In [104]:
predict = knn_clf.predict(iris.data)

In [105]:
knn_clf.score(iris.data, iris.target)

0.9666666666666667

In [106]:
np.sum(predict == iris.target) / predict.shape[0]

0.9666666666666667

## SVM(Support-Vector Machines) algorithms

In [107]:
from sklearn.svm import SVC

In [108]:
svc = SVC()

In [109]:
svc.fit(iris.data, iris.target)

SVC()

In [110]:
svc.score(iris.data, iris.target)

0.9733333333333334

In [111]:
idxs = np.random.permutation(iris.data.shape[0])
idxs

array([103,  67, 142, 125,  57,  38,  90,  28,  76,  22, 118, 134, 140,
       111, 126,  10, 147,  86, 109, 145,  71,  78,  15,  33,  92,  18,
       113,  47,  75, 102,  83,  60,  35,  29,  16,  24,  95, 124, 122,
       100, 121, 120,  49,  80,  23,  25,   8,  30, 149,  14,  97,  54,
        74, 129,  98,  37, 123,  62, 146,   1,   0,  68, 136, 133,  70,
        94,  36,  11,  43,  55,   3,  50,   4,  21, 106,  93,  89, 144,
         2,   9,  82, 107,  58,  91,   7,  13, 139,  17, 143,  40,  51,
       117,  99,  41, 101,  39, 128, 130,  56,  72,  19,  45,  53, 138,
       135,  12,  48,   6,  65,  77, 141,  52, 137,  84, 115, 108,  96,
        88,  61,  44,  81,   5,  42,  64, 131,  79, 132,  69, 114, 104,
        85,  26, 105,  73,  66,  46, 148,  32, 127, 112,  34, 116, 119,
        87,  27,  20,  31,  59,  63, 110])

In [112]:
train_X = iris.data[idxs[:100]]
train_y = iris.target[idxs[:100]]

test_X = iris.data[idxs[100:]]
test_y = iris.target[idxs[100:]]

# to see how the arrary looks like:
train_X.shape, train_y.shape, test_X.shape, test_y.shape

((100, 4), (100,), (50, 4), (50,))

In [113]:
knn_clf.fit(train_X,train_y)
# get the result of the method with default arguments

KNeighborsClassifier()

In [114]:
knn_clf.score(test_X, test_y)

0.96

In [115]:
svc.fit(train_X, train_y)

SVC()

In [116]:
svc.score(test_X, test_y)

0.96