# Cohort_Order_Analysis

In [38]:
import pandas as pd

In [39]:
df = pd.read_excel('同期群订单数据.xlsx')

In [40]:
# Explore the excel file
df.info() 
# 为啥要使用object对象存储 好像可以直接使用string存储

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42713 entries, 0 to 42712
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   平台      42713 non-null  object
 1   店铺名称    42713 non-null  object
 2   客户昵称    42713 non-null  object
 3   付款时间    40339 non-null  datetime64[ns]
 4   订单状态    42713 non-null  object
 5   支付金额    42713 non-null  float64
 6   购买数量    42713 non-null  int64
 7   省份      42713 non-null  object
dtypes: datetime64[ns](1), float64(1), int64(1), object(5)
memory usage: 2.6+ MB

In [41]:
df.drop(index=df[df['订单状态'] == '交易失败'].index, axis=1, inplace=True)
# 想知道这里 axis参数是什么意思
# Also 这里:
# Returns; DataFrame without the removed index or column labels.
print(df)

       平台   店铺名称   客户昵称                付款时间  订单状态   支付金额  购买数量       省份
0      线上  小z杂货铺  入倩出入深 2019-09-01 00:10:04  交易成功   15.2     1      江苏省
1      线上  小z杂货铺  愛hya爱 2019-09-01 00:14:52  交易成功    8.4     1      广东省
2      线上  小z杂货铺  象95象大 2019-09-01 02:17:15  交易成功    8.4     1      辽宁省
3      线上  小z杂货铺  卡哇伊氛十 2019-09-01 03:37:28  交易成功   22.0     1  广西壮族自治区
4      线上  小z杂货铺  一只羊哈阿 2019-09-01 08:53:50  交易成功   85.0     1      辽宁省
...    ..    ...    ...                 ...   ...    ...   ...      ...
40334  线上  小z杂货铺  ght子竹 2020-02-29 19:13:08  交易成功   17.9     1      广东省
40335  线上  小z杂货铺  345ik 2020-02-29 19:14:33  交易成功  101.2     1      吉林省
40336  线上  小z杂货铺  099bt 2020-02-29 19:15:29  交易成功  219.3     2      广东省
40337  线上  小z杂货铺  151lw 2020-02-29 19:16:18  交易成功  101.2     1      广东省
40338  线上  小z杂货铺  565yc 2020-02-29 19:20:24  交易成功   16.9     1      江苏省

[40339 rows x 8 columns]

In [42]:
# Get the created time of initial order of each client
df_f = df.groupby(by='客户昵称')['付款时间'].min().to_frame(name='首单时间')
print(df_f)
df_f.reset_index(inplace=True)
# 付款时间这个list没看懂
# 想知道这里就是 知道前面是什么类型,才知道后面能用 什么方法
print(df_f)

                     首单时间
客户昵称
00000 2020-01-30 23:09:49
0000栗 2019-10-21 01:05:47
0000橙 2020-02-18 16:31:57
0009h 2020-02-14 18:03:35
000ab 2019-10-16 19:47:27
...                   ...
，寂静望守 2019-10-18 22:08:19
，，，瑶刘 2019-11-24 16:58:03
～myah 2020-01-28 20:04:05
～原宿爱独 2020-01-30 23:33:54
～～～翳阴 2019-12-03 22:29:35

[31094 rows x 1 columns]
        客户昵称                首单时间
0      00000 2020-01-30 23:09:49
1      0000栗 2019-10-21 01:05:47
2      0000橙 2020-02-18 16:31:57
3      0009h 2020-02-14 18:03:35
4      000ab 2019-10-16 19:47:27
...      ...                 ...
31089  ，寂静望守 2019-10-18 22:08:19
31090  ，，，瑶刘 2019-11-24 16:58:03
31091  ～myah 2020-01-28 20:04:05
31092  ～原宿爱独 2020-01-30 23:33:54
31093  ～～～翳阴 2019-12-03 22:29:35

[31094 rows x 2 columns]

In [43]:
# 合并新的dataframe，包含客户昵称，付款时间，首单时间
df_f = df[['客户昵称', '付款时间']].merge(df_f)
# 首单时间在哪....看了预览没有
print(df_f)

        客户昵称                付款时间                首单时间
0      入倩出入深 2019-09-01 00:10:04 2019-09-01 00:10:04
1      愛hya爱 2019-09-01 00:14:52 2019-09-01 00:14:52
2      愛hya爱 2019-09-12 12:43:30 2019-09-01 00:14:52
3      象95象大 2019-09-01 02:17:15 2019-09-01 02:17:15
4      卡哇伊氛十 2019-09-01 03:37:28 2019-09-01 03:37:28
...      ...                 ...                 ...
40334  儿娃娃可蓝 2020-02-29 19:08:50 2020-02-29 19:08:50
40335  008女猫 2020-02-29 19:11:37 2020-02-29 19:11:37
40336  987红董 2020-02-29 19:13:02 2020-02-29 19:13:02
40337  ght子竹 2020-02-29 19:13:08 2020-02-29 19:13:08
40338  565yc 2020-02-29 19:20:24 2020-02-29 19:20:24

[40339 rows x 3 columns]

In [44]:
# 通过首单时间及付款时间进行分组，获得每个时间段单独的不重复的客户数量
df_f = df_f.groupby(by=[pd.Grouper(key='首单时间', freq='m'), pd.Grouper(key='付款时间', freq='m')])['客户昵称'].nunique()
print(df_f)

首单时间        付款时间
2019-09-30  2019-09-30    2042
            2019-10-31     253
            2019-11-30     219
            2019-12-31     167
            2020-01-31     159
            2020-02-29     165
2019-10-31  2019-10-31    7083
            2019-11-30     539
            2019-12-31     428
            2020-01-31     414
            2020-02-29     426
2019-11-30  2019-11-30    4744
            2019-12-31     448
            2020-01-31     370
            2020-02-29     294
2019-12-31  2019-12-31    4983
            2020-01-31     491
            2020-02-29     340
2020-01-31  2020-01-31    5126
            2020-02-29     484
2020-02-29  2020-02-29    7116
Name: 客户昵称, dtype: int64

In [45]:
# 对复合索引的series转置为dataframe
df_f = df_f.unstack()
print(df_f)

付款时间        2019-09-30  2019-10-31  2019-11-30  2019-12-31  2020-01-31  \
首单时间
2019-09-30      2042.0       253.0       219.0       167.0       159.0
2019-10-31         NaN      7083.0       539.0       428.0       414.0
2019-11-30         NaN         NaN      4744.0       448.0       370.0
2019-12-31         NaN         NaN         NaN      4983.0       491.0
2020-01-31         NaN         NaN         NaN         NaN      5126.0
2020-02-29         NaN         NaN         NaN         NaN         NaN

付款时间        2020-02-29
首单时间
2019-09-30       165.0
2019-10-31       426.0
2019-11-30       294.0
2019-12-31       340.0
2020-01-31       484.0
2020-02-29      7116.0

In [46]:
 # 将首月客户数量对齐
for i in range(len(df_f.index)):
     df_f.iloc[i] = df_f.iloc[i].shift(periods=-i)

In [47]:
# 重置columns
df_f.columns = ['本月新增', '+1月', '+2月', '+3月', '+4月', '+5月']

In [48]:
print(df_f)

              本月新增    +1月    +2月    +3月    +4月    +5月
首单时间
2019-09-30  2042.0  253.0  219.0  167.0  159.0  165.0
2019-10-31  7083.0  539.0  428.0  414.0  426.0    NaN
2019-11-30  4744.0  448.0  370.0  294.0    NaN    NaN
2019-12-31  4983.0  491.0  340.0    NaN    NaN    NaN
2020-01-31  5126.0  484.0    NaN    NaN    NaN    NaN
2020-02-29  7116.0    NaN    NaN    NaN    NaN    NaN

In [49]:
# 计算留存率
def count_per(s, dx):
    a=[f'{i}%' if str(i)!='nan' else 0 for i in round((s / dx) * 100, 2)]
    return a

df_1 = df_f.apply(count_per, axis=0, args=(df_f['本月新增'],))
df_1['本月新增']=df_f['本月新增']

print(df_f)
print('-' * 15)
print(df_1)

              本月新增    +1月    +2月    +3月    +4月    +5月
首单时间
2019-09-30  2042.0  253.0  219.0  167.0  159.0  165.0
2019-10-31  7083.0  539.0  428.0  414.0  426.0    NaN
2019-11-30  4744.0  448.0  370.0  294.0    NaN    NaN
2019-12-31  4983.0  491.0  340.0    NaN    NaN    NaN
2020-01-31  5126.0  484.0    NaN    NaN    NaN    NaN
2020-02-29  7116.0    NaN    NaN    NaN    NaN    NaN
---------------
              本月新增     +1月     +2月    +3月    +4月    +5月
首单时间
2019-09-30  2042.0  12.39%  10.72%  8.18%  7.79%  8.08%
2019-10-31  7083.0   7.61%   6.04%  5.84%  6.01%      0
2019-11-30  4744.0   9.44%    7.8%   6.2%      0      0
2019-12-31  4983.0   9.85%   6.82%      0      0      0
2020-01-31  5126.0   9.44%       0      0      0      0
2020-02-29  7116.0       0       0      0      0      0